---
import Fundation from '../components/Fundation.astro';
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';
import Nosotros from '../components/Nosotros.astro';
import '@fontsource-variable/onest';																	

---

<Layout title="Puppy life - Funacion cuidadora de animales">
	<main>
	
<Fundation />

<Nosotros />

<Gallery />

	
</main>																					
</Layout>

<style>	
</style>
