<section class="flex-row mx-4 md:mx-60 pt-40 md:justify-center">
    <h1 class="text-left md:justify-center md:text-center  font-bold text-white text-2xl">GALLERY</h1>
   
  </section>
  




<div class="container mx-auto p-4">
    <div class="flex flex-wrap justify-center">             
        <div class="box-content w-96 md:w-80 lg:w-64 m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl  transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"> <img class="h-full object-cover" src="/Image-Before/dog1.jpeg" alt=""></div>
        </div>
        <div class="box-content w-96 md:w-80 lg:w-64  m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"><img class="h-full object-cover" src="/Image-Before/dog2.jpeg" alt=""></div>
        </div>
        <div class="box-content w-96 md:w-80 lg:w-64  m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"><img class="h-full object-cover" src="/Image-Before/dog3.jpeg" alt=""></div>
        </div>
        <div class="box-content w-96 md:w-80 lg:w-64  m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"><img class="h-full object-cover" src="/Image-Before/dog4.jpeg" alt=""></div>
        </div>
        <div class="box-content w-96 md:w-80 lg:w-64  m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"><img class="h-full object-cover" src="/Image-Before/dog5.jpeg" alt=""></div>
        </div>
        <div class="box-content w-96 md:w-80 lg:w-64  m-2">
            <div class="bg-white shadow-xl h-64 md:h-56 lg:h-80 w-full rounded-xl transition ease-in delay-50 hover:-translate-y-1 hover:scale-110  duration-150"><img class="h-full object-cover" src="/Image-Before/dog6.jpeg" alt=""></div>
        </div>
        
    </div>
</div>



