<section class="flex-row mx-4 md:mx-60 pt-40">
    <h1 class="text-left md:text-center font-bold text-white text-2xl">NOSOTROS</h1>
    <div class="text-white text-semibold pt-6 md:px-20 text-2xl">
      Somos un refugio de animales especializados en buscar lo que para muchos ya no tiene esperanza, brindamos esperanza a aquellos hogares que están dispuestos a aceptar un canino en sus vidas que los llenará de mucha felicidad.
    </div>
  </section>
  